<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 item">
            <h3>Servicios</h3>
            <ul>
                <li><a href="{{ url_for('rooms')}}">Habitaciones</a></li>
                <li><a href="{{ url_for('booking') }}">Reserva</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
                <li><a href="{{ url_for('rooms')}}">Compañía</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="col-md-6 item text">
            <h3>BELNAV HOTELS</h3>
            <p>Hotel que cumple todos los requisitos</p>
        </div>
        <div class="col item social">
            <a href="#"><i class="icon ion-social-facebook"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="#"><i class="icon ion-social-snapchat"></i></a>
            <a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
    </div>
    <p class="copyright">BELNAV HOTELS © 2021</p>
</div>
